body {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-family: 'Odibee Sans', cursive;
}



#container {
    margin-top: 10%;
    width: 500px;
    font-family: 'Odibee Sans', cursive;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:aqua ;
  
}
.column{
    margin-top:2em;
}

.city {
    font-size: 50px;
    margin-bottom: .5em;
}
.temp {
    font-size: 30px;
}
.mintemp {
    font-size: 20px;
}
.maxtemp {
    font-size: 20px;
}

#temperature {
    margin-top: 15px;
}
#timeContainer {
    margin-top: 15px;
}
.tomorrow {
font-size: 1.25em;
}
.day2 {
font-size: 1.25em;
}
.day3 {
font-size: 1.25em;
}
.day4 {
font-size: 1.25em;
}
.day5 {
font-size: 1.25em;
}
.hide {
    visibility: hidden;
}