body {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-family: 'Odibee Sans', cursive;
}



#container {
    margin-top: 10%;
    width: 500px;
    font-family: 'Odibee Sans', cursive;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:aqua ;
  
}

.city {
    font-size: 50px;
}
.temp {
    font-size: 30px;
}
.mintemp {
    font-size: 20px;
}
.maxtemp {
    font-size: 20px;
}

#temperature {
    margin-top: 15px;
}
#timeContainer {
    margin-top: 15px;
}